
services:
  limegps:
    init: true
    environment:
      DISPLAY:
    build: 
     context: .
     dockerfile: Containerfile
    user: 0:0
    image: ghcr.io/anielsen001/gnss-sim:latest
    volumes:
      # passing through this file allows opening windows from the container in your host computer
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - "$PWD:/opt/project"
    network_mode: "host"
    devices:
      - "/dev/bus/usb/002/002" # this may change when you plug/unplug device
      
    privileged: true
    command:
      - /bin/bash
    working_dir: /opt/project

  quarto:
    init: true
    environment:
      DISPLAY:
    user: 0:0
    image: ghcr.io/anielsen001/quarto-docker/quarto-18-texlive-python-julia:latest
    volumes:
      # passing through this file allows opening windows from the container in your host computer
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - "$PWD:/opt/project"   
    command:
      - /bin/bash
    working_dir: /opt/project
