
services:
  limegps:
    init: true
    environment:
      DISPLAY:
    build: 
     context: .
     dockerfile: Containerfile
    user: 0:0
    image: ghcr.io/anielsen001/gnss-sim:latest
    volumes:
      # passing through this file allows opening windows from the container in your host computer
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - "$PWD:/opt/project"
      # - "$PWD/config:/root/.config"
      # - "$PWD/log:/root/.local/share"
      # - "/run/user/1000/pulse:/run/pulse:ro" # this much match above
    network_mode: "host"
    devices:
      # - "/dev/dri:/dev/dri"
      #- "/dev/bus/usb/001/006" # this may change when you plug/unplug device
      - "/dev/bus/usb/002/004" # this may change when you plug/unplug device
      
    privileged: true
    command:
      - /bin/bash
    working_dir: /opt/project

  quarto:
    init: true
    environment:
      DISPLAY:
    #build: 
    # context: .
    # dockerfile: Containerfile
    user: 0:0
    #image: ghcr.io/anielsen001/quarto-docker/quarto-18-texlive-python-julia:latest
    image: localhost/quarto-18:develop
    volumes:
      # passing through this file allows opening windows from the container in your host computer
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - "$PWD:/opt/project"   
